.countries {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}
.legendThreshold {
	font-size: 18 px;
	font-family: sans-serif;
}
.caption {
	fill: #000;
	text-anchor: start;
	font-weight: bold;
}
.place-label {
	font-size: 12px;
	font-family: sans-serif;
}